# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
_site/
.Rbuildignore
/.quarto/

# Added for occupancy blogpost ----
posts/2026-01-06-occupancy-models-in-r/model.exe
posts/2026-01-06-occupancy-models-in-r/model

**/*.quarto_ipynb
