/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$font-family-monospace: "Fira Code", monospace !default;

/*-- scss:rules --*/

main ul li {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif !important;
}

.bouton {
  margin-left: 1%;
  margin-right: 1%;
}

.btn {
  border-radius: 0.5rem;
}

a.bouton {
  color: #375A7F;
  text-decoration: none;
}

a.bouton:hover {
  color: white;
  text-decoration: none;
}

.small {
  font-size: 0.8em;
}
