.bouton {
  margin-left: 1%;
  margin-right: 1%;
}

.btn {
  border-radius: 0.5rem;
}

a.bouton {
  color: #375A7F;
  text-decoration: none;
}

a.bouton:hover {
  color: white;
  text-decoration: none;
}
